systemlog
__pycache__
/server/build
builds
/xpyserver_dist
/0.9.3
/0.9.3.zip
/0.9.4
/0.9.4.zip
/db_autoupdate/dist
/db_autoupdate/build
/db_autoupdate/venv
/db_autoupdate/.vscode
/db_autoupdate/__pycache__
/db_autoupdate/newProcess
/db_autoupdate/script
