#batchInfoPanel{
    height:100%;
    width:300px;
    background-color: var(--color-c2);
    color:  #F2F2F2;
    position:fixed!important;
    left: 0;
    top:0;
    bottom: 0px;
    z-index:1;
    overflow:auto;
    padding: 8px;
}

#batchInfoPanel h3{
    padding: 10px 0 5px 5px;
    height: auto;
    width: 90%;
    box-sizing: border-box;
    border-bottom: 1px solid lightslategrey;
    font-size: large;
    color: var(--color-c4);
}

#batchInfoForm p{
    margin: 5px 0px 2px 0px;
}

#batchInfoPanel label{
    color:  rgb(199, 192, 192);
}

textarea { resize: vertical; max-height: 400px; min-height: 100px; max-width: 100%; width:100%;}

.testToolBar {
    position: absolute;
    left: 300px;
    top:0;
    height: 60px;
    background: linear-gradient(45deg, var(--color-c1),var(--color-c4));
    color:  #F2F2F2;
}

.testMainPanel{
    position: absolute;
    left: 300px;
    top:60px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    color:  var(--color-c5);
}

.testMainPanel > .seqSection{
    position: absolute;
    left: 0;
    top:0;
    bottom: 10px;
    background-color: white;
    color:  var(--color-c5);
    width: 580px;
    margin: 10px;
}



.testMainPanel > .graphSection{
    position: absolute;
    left: 600px;
    top:0;
    right: 10px;
    bottom: 0px;
    background-color: white;
    color:  var(--color-c5);
    height: 100%;
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.testMainPanel .cardHeader{
    background: linear-gradient(45deg, var(--color-c3),var(--color-c4));
    color: white;
    height: 24px;
}

.testMainPanel .cardContent{
    width: 100%;
    overflow: auto;
}


.testMainPanel > .graphSection .w3-card{
    margin-bottom: 10px;
}

.testMainPanel > .graphSection .w3-card .cardContent{
    overflow: hidden;
}


.seqSection > .cardContent{
    position: absolute;
    top:24px;
    bottom: 10px;
}

#testSeqContainer{
    margin: 0px !important;
    padding: 10px 10px 10px 10px !important;
    width: 100%;
    overflow: auto;
}

#testSeqContainer li a { padding: 0px; }
#testSeqContainer .active-item { background: #F39814; color: white; }

.cardContent > ul {
    list-style-type: none;
  }
  
.cardContent > ul > li {
    /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
    position: relative;

    /* Use padding to space things out rather than margins as the line would get broken up otherwise */
    margin: 0;
    padding: 0px !important;
    padding-left: 0px;
    border-bottom: 0;
}